.App {
  text-align: center;
}

.App img {
  display: block;
  height: 400px;
  width: 400px;
  margin: 20px auto;
}

.button {
  color: black;
  margin: 30px;
  padding: 10px;
  border: transparent;
  border-radius: 50px;
  background: transparent;
  box-shadow: 0px 0px 10px black;
}
.like {
  background: green;
}
.dislike {
  background: red;
}
